.ai-prompt-home-molecules {
  border-radius: 15px;
  .content {
    border-radius: 6px;
    background: #ECF5FC;
    color: #000;
    white-space: pre-line;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
  }
  .copy-icon{
    padding-top: 13px;
  }
}