.login-template {
  background-color: #D6D6D6;

  .title-logo {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
  }
}