.search-box-molecules{
  .ant-btn{
    padding: 8px 16px;
    color: #00A6DA;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
    border-radius: 8px;
    border: 1px solid #00A6DA;
    background: #FFF;
    height: fit-content;
  }
}