.text-input-atoms {
  position: relative;

  .ant-input {
    border-radius: 6px;
    border: 1px solid #D6D6D6;
    background: #FFF;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #AFAFAF;
    }
  }

  .error {
    position: absolute;
    padding-top: 4px;
    color: #F00;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
  }

}